/* CSS Document */

/* Untermenü ohne den animierten Unterstrich 
.czr-link-hover-underline [class*=nav__menu] .nav__title:hover::before {
  visibility: hidden;
}
*/

/*----------------------------------------------------------------*/
/* Start: Anpassungen für Paginierung
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/
/* Schriftgröße im Container "Ältere Beiträge" vergrößern */
.post-navigation nav {
    font-size: 1.3em;
}

/* oranger Hintergrund auf aktiver Seite */
.pagination .current {
    background-color: #F9B81E;
    height: 60px;
    width: 60px;
    border-radius: 60px;
}

/* blauer Hintergrund und rund */
.pagination .pag-list > * {
    background-color: #77BCC7;
    margin: 0 5px;
    float: left;
    height: 60px;
    width: 60px;
    line-height: 35px;
    text-align: center;
    padding: 0;
    border-radius: 60px;
    margin-right: 3px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}

/* Platz für Seitennummern */
.col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

/* Platz für Text neuer und älter */
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

/* Inhalte in der Sidebar rechtsbündig */
.tc-sidebar.text-md-right .widget-title::after {
    right: 0;
    left: 0;
}
/*----------------------------------------------------------------*/
/* Ende: Anpassungen für Paginierung
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/


/*----------------------------------------------------------------*/
/* Start: Anpassungen für Darstellung der Filter Bar (TEC)
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/

.tribe-bar-submit {
    margin-left: 0;
}

.tribe-bar-date-filter {
    width: 30%;
}

dl dt::before {
    content: none;
}
/*----------------------------------------------------------------*/
/* Ende: Anpassungen für Darstellung der Filter Bar (TEC)
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/
/* Start: Darstellung der Details in Einzelansicht (TEC)
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/
/* Schriften etc. größer */
.tribe-events-start-date-label,
.tribe-events-start-time-label,
.tribe-events-event-categories-label,
.tribe-events-event-url-label,
.tribe-organizer-tel-label,
.tribe-organizer-email-label
{
    padding-left: 0px;
		font-size: 1.1em;
	  padding-right: 0px;
}

dt{
		padding-left: 0px!important;
    font-size: 1.1em;
		padding-right: 0px;
}

/* Mehr Platz beim Datum */
.tribe-event-date-start .tribe-event-date-end .tribe-event-time{
	padding-right: 5px;
}

/*----------------------------------------------------------------*/
/* Ende: Darstellung der Details in Einzelansicht (TEC)
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/
/* Start: Darstellung der Links mit Unterstrich (TEC)
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/

#tribe-events-content a, .tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-back a, .tribe-events-back a:hover, .tribe-events-event-meta a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a:hover, ul.tribe-events-sub-nav a, ul.tribe-events-sub-nav a:hover {
    text-decoration: underline;
}

/* Titel ohne Unterstrich */
.tribe-event-url {
	text-decoration:none!important;	
}
/*----------------------------------------------------------------*/
/* Ende: Darstellung der Links mit Unterstrich (TEC)
/* Datum: 17.11.2018
/* Autor: hgg  
/*----------------------------------------------------------------*/
